
<div class="panel-body">
    <label>Add images</label><input type="file" name="file" multiple onchange="angular.element(this).scope().uploadFile(this.files)"/>
    <label>Show Images For:</label>
    <select ng-model="directory" ng-options="dir.value as dir.text for dir in directories" onchange="angular.element(this).scope().changeDirectory(this)"></select>

    <table class="table" >
        <thead>
        <tr>
            <th ng-if="directory !== 'Originals'"></th><th ng-if="directory !== 'Originals'"></th><th>File</th><th>Name</th><th>Tltle</th><th>Width</th><th>Height</th><th>Copyright</th><th>Created</th><th>size(k)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in images">
            <td ng-if="directory !== 'Originals'"><button title="generate a copyright" ng-click="setCopyright(file)">©</button></td>
            <td ng-if="directory !== 'Originals'"><button title="delete file" ng-click="deleteFile(file)">D</button></td>
            <td title="{{file.filename.title}}">{{file.filename.value}}</td>
            <td class="{{file.contestantName.valid ? '' : 'alert alert-danger'}}" title="{{file.contestantName.title}}">{{file.contestantName.value}}</td>
            <td class="{{file.title.valid ? '' : 'alert alert-danger'}}" title="{{file.title.title}}">{{file.title.value}}</td>
            <td class="{{file.imageWidth.valid ? '' : 'alert alert-danger'}}" title="{{file.imageWidth.title}}">{{file.imageWidth.value}}</td>
            <td class="{{file.imageHeight.valid ? '' : 'alert alert-danger'}}" title="{{file.imageHeight.title}}">{{file.imageHeight.value}}</td>
            <td class="{{file.copyrightNotice.valid ? '' : 'alert alert-danger'}}" title="{{file.copyrightNotice.title}}">{{file.copyrightNotice.value}}</td>
            <td class="{{file.dateCreated.valid ? '' : 'alert alert-danger'}}" title="{{file.dateCreated.title}}">{{file.dateCreated.value}}</td>
            <td class="{{file.fileSize.valid ? '' : 'alert alert-danger'}}" title="{{file.fileSize.title}}">{{file.fileSize.value}}</td>
        </tr>
        </tbody>
    </table>
</div>