

<div id="Searching_Modal" class="modal fade" tabindex="-1" role="dialog" data-keyboard="false"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center">
                <h3>Busy</h3>
            </div>
            <div class="modal-body" >
                <div style="height:50px">
                    <span id="searching_spinner_center" class="fa fa-spinner fa-spin"></span>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center"></div>
        </div>
    </div>
</div>