
<section>
    <header class="cnpa-header">
        <p>Welcome to the CNPA contest maintainer.</p>
    </header>
    <div class="cnpa-body">
        <div class="btn-group">
            <label class="btn btn-primary cnpa-radio" ng-model="radioModel" btn-radio="'new-contest'">Create New Contest</label>
            <label class="btn btn-primary cnpa-radio" ng-model="radioModel" btn-radio="'existing-contest'" ng-disable="contest.contests.length === 0">Choose Existing Contest</label>
        </div>
        <div ng-hide="radioModel !=='existing-contest'">
            <label for="selectContest-id"> Choose existing contest</label>
            <span>
                <select id="selectContest-id" ng-model="contest.name" name="contest"
                        ng-options="contest.name as contest.name for contest in contest.contests"></select>
            </span>
            <button type="button" id="selectContestBtn-id" data-loading-text="Getting..." class="btn btn-primary"
                    ng-click="selectContest(this)">
                Select contest
            </button>
        </div>
        <div ng-hide="radioModel !== 'new-contest'">
            <p class="cnpa-help"> Create a new contest.  Give it a name like: Q1 2015</p>
            <label for="createContest-id"> Create new contest</label>
            <span>
                <input id="createContest-id" type="text" ng-model="contest.name" name="name" value="Type in contest name <no spaces>"
                       ng-keypress="updateInput(this)"/>
            </span>
            <button type="button" id="createContestBtn-id" data-loading-text="Getting..." class="btn btn-primary"
                    ng-disabled="contest.name.length <= 0" ng-click="createContest()">
                Create contest
            </button>
        </div>
    </div>


    <footer class="cnpa-footer">
        <div ng-if="contest.errorMessages" class="text-error error-msg">
            <div ng-repeat="errorMessage in contest.errorMessages">
                {{errorMessage}}
            </div>
        </div>
        Filename = chooseContest.html
        <!--<div>ScopeName={{scopeName}} errorMessages={{contest.errorMessages}} contest={{contest}}</div>-->
    </footer>
</section>
