<section>
    <header class="cnpa-header">
        <p>Editing contest:  {{contest.name}}</p>
    </header>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Pictures</h3>
        </div>
        <images-directive contest=contest></images-directive>
    </div>


    <footer class="cnpa-footer">
        <div ng-if="contest.errorMessages" class="text-error error-msg">
            <div ng-repeat="errorMessage in contest.errorMessages">
                {{errorMessage}}
            </div>
        </div>
        Filename = chooseFiles.html
        <!--<div>ScopeName={{scopeName}} errorMessages={{contest.errorMessages}} contest={{contest}}</div>-->
    </footer>
</section>