<div class="panel-body">
    <button type="button"
            class="btn btn-default navbar-btn"
            ng-click="vm.regenerateContest()"
            ng-show="vm.contest.showRegenerateContest">Regenerate Contest
    </button>
    <button type="button"
            class="btn btn-default navbar-btn"
            ng-click="vm.generateContest()"
            ng-show="vm.contest.showGenerateContest">Generate Contest
    </button>
    <span ng-show="vm.contest.showDownloadContest">
        <%= link_to 'Download Contest', URI::decode_www_form_component(download_download_contest_path(:contestName =>
        '{{vm.contest.name}}')), :class => 'btn btn-default navbar-btn' %>
    </span>

    <div class="cnpa-date">
        <button type="button" class="btn btn-primary" ng-model="vm.contest.isPictureAgeRequired" btn-checkbox
                btn-checkbox-true="true"
                btn-checkbox-false="false"
                ng-click="vm.isPictureAgeRequiredClicked()">
            Picture Age Limit
        </button>
        <div class="" ng-hide="! vm.contest.isPictureAgeRequired">
            <p class="cnpa-help">
                This date represents the oldest a picture can be created and still be in the
                contest. Any file that is too old will be marked in pink.
            </p>

            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" readonly="true" class="form-control" datepicker-popup="yyyy/MM/dd"
                           ng-model="contest.pictureAgeDate" is-open="vm.dateOpened"
                           datepicker-options="vm.dateOptions" date-disabled="false" close-text="Close"
                           ng-change="vm.saveConfigInfo()"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDate($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>
        </div>
    </div>

    <div class="cnpa-pictures">

        <input type="button" onclick="document.getElementById('fileID').click(); return false;"
               value="Choose Pictures"
               class="btn btn-primary"/>

        <div class="cnpa-picture-inner">
            <input type="file" id="fileID" accept="image/jpeg" name="pictures" multiple
                   onchange="angular.element(this).scope().vm.uploadFile(this.files)"
                   class="cnpa-input-file"
                    />

            <label>Show Images For:</label>
            <select ng-model="vm.contest.directory"
                    ng-options="dir.value as dir.text for dir in vm.contest.directories"
                    ng-change="vm.changeDirectory(this)"></select>

            <table class="table">
                <thead>
                <tr>
                    <th ng-if="vm.contest.directory === 'Testdata'"></th>
                    <th ng-if="vm.contest.directory === 'Testdata'"></th>
                    <th ng-if="vm.contest.directory === 'Testdata'"></th>
                    <th>File</th>
                    <th>Name</th>
                    <th>Tltle</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Copyright</th>
                    <th>Created</th>
                    <th>size(k)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="file in vm.contest.files">
                    <td ng-if="vm.contest.directory === 'Testdata'">
                        <button title="rename file" ng-click="vm.rename_file(file)">R</button>
                    </td>
                    <td ng-if="vm.contest.directory === 'Testdata'">
                        <button title="generate a copyright" ng-click="vm.setCopyright(file)">©</button>
                    </td>
                    <td ng-if="vm.contest.directory === 'Testdata'">
                        <button title="delete file" ng-click="vm.deleteFile(file)">D</button>
                    </td>
                    <td title="{{file.filename.title}}">{{file.filename.value}}</td>
                    <td class="{{file.contestantName.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.contestantName.title}}">{{file.contestantName.value}}
                    </td>
                    <td class="{{file.title.valid ? '' : 'alert alert-danger'}}" title="{{file.title.title}}">
                        {{file.title.value}}
                    </td>
                    <td class="{{file.imageWidth.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.imageWidth.title}}">
                        {{file.imageWidth.value}}
                    </td>
                    <td class="{{file.imageHeight.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.imageHeight.title}}">
                        {{file.imageHeight.value}}
                    </td>
                    <td class="{{file.copyrightNotice.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.copyrightNotice.title}}">{{file.copyrightNotice.value}}
                    </td>
                    <td class="{{file.dateCreated.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.dateCreated.title}}">
                        {{file.dateCreated.value}}
                    </td>
                    <td class="{{file.fileSize.valid ? '' : 'alert alert-danger'}}"
                        title="{{file.fileSize.title}}">
                        {{file.fileSize.value}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button"
            class="btn btn-default navbar-btn"
            ng-click="vm.regenerateContest()"
            ng-show="vm.contest.showRegenerateContest">Regenerate Contest
    </button>
    <button type="button"
            class="btn btn-default navbar-btn"
            ng-click="vm.generateContest()"
            ng-show="vm.contest.showGenerateContest">Generate Contest
    </button>
    <span ng-show="vm.contest.showDownloadContest">
        <%= link_to 'Download Contest', URI::decode_www_form_component(download_download_contest_path(:contestName =>
        '{{vm.contest.name}}')), :class => 'btn btn-default navbar-btn' %>
    </span>


    <div id="veil" ng-show="isLoading"
         style="position: absolute;top:0;left: 0;height: 50%;width: 50%;cursor: not-allowed;filter:alpha(opacity=60);opacity: 0.6;"></div>
    <div id="feedLoading" ng-show="isLoading"
         style="position: absolute;top: 200px;width: 100%;text-align: center;font-size: 4em;color: #000000;text-shadow: 2px 2px 2px gray">
        Loading...
    </div>

</div>