// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

//@import "bootstrap-sprockets";
//@import "bootstrap";



.cnpa-body {
  height: 500px;
  width:  600px;
  background-color: #00AEFF;
}

.cnpa-button-group {
  width: 100%;
}

.cnpa-date {
  border: solid;
  border-width: 1px;
  background-color: lightgray;
}

.cnpa-footer {
  background-color: transparent;
}

.cnpa-header {
  background-color: transparent;
}

.cnpa-help {
  margin-top: 20px;
  background: transparent;
  font-family: fantasy;
  padding: 10px;
}

.cnpa-input-file {
  visibility: hidden;
}

.cnpa-pictures {
  margin-top: 10px;
  border: solid;
  border-width: 1px;
  background-color: lightgray;
}

.cnpa-picture-inner {
  padding: 10px;
}

.cnpa-radio {
  margin-left: 50px;
  width: 33%;
}

.cnpa-radio-button {
  margin-top: 20px;
}

.rename-label {
  width:30%;
  text-align: right;
}

.rename-input {
  width:50%;
}

.rename-p {
  text-align: center;
}



@import "../../../vendor/assets/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "../../../vendor/assets/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";