
<!DOCTYPE html>
<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>You will find the files attached for <%= @directory %> </h1>˜
    </body>
</html>